@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.contactContainer{
    padding: 20px;
    font-family: 'roboto';
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactContainer p{
    text-align: justify;
    font-size: 2rem;
    margin: 15px;
}
.contactContainer p a{
    text-decoration: none;
    color: rgb(4, 102, 124);
}